<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MHW Iceborne Leaderboards</title>
    <style >
      a {color: #000000;}
      .table td.fit, 
      .table th.fit {
        white-space: nowrap;
        width: 1%;
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165705164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-165705164-1');
    </script>
    <script data-ad-client="ca-pub-1264662495280700" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Iceborne Leaderboards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/monsters">Monsters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quests">Quests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/runners">Runners</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rankings">Rankings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tierlist">Tier List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </div>
      </nav>
      <br />
      <!-- Top of Page -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:inline-block;width:100%;height:80px;"
data-ad-client="ca-pub-1264662495280700"
data-ad-slot="5047092791"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> <br />
<!-- End of Top of Page -->
      <div class="row ml-5 flex-nowrap">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if weapon=='all' %}
            Weapon
            {% else %}
            {{weapon_name}}
            {% endif %}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/rankings/all/{{ruleset}}/{{platform}}">All</a>
            <a class="dropdown-item" href="/rankings/bow/{{ruleset}}/{{platform}}">Bow</a>
            <a class="dropdown-item" href="/rankings/charge-blade/{{ruleset}}/{{platform}}">Charge Blade</a>
            <a class="dropdown-item" href="/rankings/dual-blades/{{ruleset}}/{{platform}}">Dual Blades</a>
            <a class="dropdown-item" href="/rankings/great-sword/{{ruleset}}/{{platform}}">Great Sword</a>
            <a class="dropdown-item" href="/rankings/gunlance/{{ruleset}}/{{platform}}">Gunlance</a>
            <a class="dropdown-item" href="/rankings/hammer/{{ruleset}}/{{platform}}">Hammer</a>
            <a class="dropdown-item" href="/rankings/heavy-bowgun/{{ruleset}}/{{platform}}">Heavy Bowgun</a>
            <a class="dropdown-item" href="/rankings/hunting-horn/{{ruleset}}/{{platform}}">Hunting Horn</a>
            <a class="dropdown-item" href="/rankings/insect-glaive/{{ruleset}}/{{platform}}">Insect Glaive</a>
            <a class="dropdown-item" href="/rankings/lance/{{ruleset}}/{{platform}}">Lance</a>
            <a class="dropdown-item" href="/rankings/light-bowgun/{{ruleset}}/{{platform}}">Light Bowgun</a>
            <a class="dropdown-item" href="/rankings/long-sword/{{ruleset}}/{{platform}}">Long Sword</a>
            <a class="dropdown-item" href="/rankings/switch-axe/{{ruleset}}/{{platform}}">Switch Axe</a>
            <a class="dropdown-item" href="/rankings/sword-and-shield/{{ruleset}}/{{platform}}">Sword & Shield</a>
          </div>
        </div>
        <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/freestyle/{{platform}}';" {% if ruleset=='freestyle' %}checked{% endif %}>Freestyle
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/ta-wiki-rules/{{platform}}';"{% if ruleset=='ta-wiki-rules' %}checked{% endif %}>TA
          </label>
        </div>
        <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/{{ruleset}}/all';" {% if platform=='all' %}checked{% endif %}>All
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/{{ruleset}}/console';"{% if platform=='console' %}checked{% endif %}>Console
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/{{ruleset}}/pc';"{% if platform=='pc' %}checked{% endif %}>PC
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/{{ruleset}}/ps4';"{% if platform=='ps4' %}checked{% endif %}>PS4
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/rankings/{{weapon}}/{{ruleset}}/xbox';"{% if platform=='xbox' %}checked{% endif %}>Xbox
          </label>
        </div>
      </div>
      <br />
      <div class="mr-5 ml-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="fit">Rank</th>
              <th scope="col">Runner</th>
              <th scope="col"><img src="/static/weapon-icon/gold-medal.png" height=25></th>
              <th scope="col"><img src="/static/weapon-icon/silver-medal.png" height=25></th>
              <th scope="col"><img src="/static/weapon-icon/bronze-medal.png" height=25></th>
            </tr>
          </thead>
          <tbody>
            {% for runner in top10 %}
              {% if runner != '' %}
              <tr>
                <td class="fit">{{top10_slugs[runner][1]}}</td>
                <td data-toggle="collapse" data-target="#quests{{top10_slugs[runner][0]}}" aria-expanded="false" aria-controls="collapseExample"><a href="/runners/{{top10_slugs[runner][0]}}">{{runner}}</a>
                  <div class="collapse" id="quests{{top10_slugs[runner][0]}}">
                    <br />
                    {% for quest_run in quest_ranks[runner][0] %}
                    <img src="/static/weapon-icon/gold-medal.png" height=25><a href="{{quest_run[1]}}" target="_blank">{{quest_run[0]}}</a><br />
                    {% endfor %}
                    {% for quest_run in quest_ranks[runner][1] %}
                    <img src="/static/weapon-icon/silver-medal.png" height=25><a href="{{quest_run[1]}}" target="_blank">{{quest_run[0]}}</a><br />
                    {% endfor %}
                    {% for quest_run in quest_ranks[runner][2] %}
                    <img src="/static/weapon-icon/bronze-medal.png" height=25><a href="{{quest_run[1]}}" target="_blank">{{quest_run[0]}}</a><br />
                    {% endfor %}
                  </div>
                </td>
                <td>{{top10_medals[runner][0]}}</td>
                <td>{{top10_medals[runner][1]}}</td>
                <td>{{top10_medals[runner][2]}}</td>              
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
<!-- Bottom of Page -->
<br />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:inline-block;width:100%;height:150px;"
data-ad-client="ca-pub-1264662495280700"
data-ad-slot="5047092791"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> <br />
<!-- End of Bottom of Page -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>