<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MHW Iceborne Leaderboards</title>
    <style >
      a {color: #000000;}
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165705164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-165705164-1');
    </script>
    <script data-ad-client="ca-pub-1264662495280700" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Iceborne Leaderboards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/monsters">Monsters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quests">Quests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/runners">Runners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rankings">Rankings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tierlist">Tier List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </div>
      </nav><br />
      <!-- Top of Page -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:inline-block;width:100%;height:90px;"
data-ad-client="ca-pub-1264662495280700"
data-ad-slot="5047092791"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> <br />
<!-- End of Top of Page -->
      <p class="text-lg-left ml-4"><br />This site accepts speedruns for all Capcom-official Master Rank Hunt or Slay quests where the target is one or more large monsters. Runs are divided into two main rulesets - TA Wiki Rules and Freestyle. Individual run categories are divided by quest, weapon, platform, and ruleset. Only WR runs in a category will be accepted, and Freestyle runs must be faster than the fastest TA run.</p>
      
    <h5 class="text-lg-left ml-4">Freestyle Rules</h5>
    <ul class="ml-4 text-lg-left" list-style-type="disc" padding-left="1em">
      <li>Runs must be shown in their entirety, from the "Begin Quest" screen to the "Main objective complete!" screen.</li>
      <li>Show damage numbers.</li>
      <li>Show gear, skills, and food skills, preferably during the quest.</li>
    </ul>
    
      <h5 class="text-lg-left ml-4">TA Rules</h3>
       <p class="text-lg-left ml-4">TA runs must follow any gameplay rules listed <a href="https://mhw.wiki-db.com/howtosolota_en" target="_blank"><u>here</u></a>.<br />The site deviates from the TA Wiki on the following rules:</p>
       <ul class="ml-4 text-lg-left" list-style-type="disc" padding-left="1em">
         <li>PC runs are allowed.</li>
         <li>Runs on YouTube and bilibili are allowed.</li>
         <li>Reporting game version number is not required.</li>
         <li>Editing out the wait at the end of quests is allowed. Runs must be shown from the "Begin Quest" screen to the "Main objective complete!" screen.
         </li>
       </ul>

    <h5 class="text-lg-left ml-4">Cheating</h5>
    <p class="text-lg-left ml-4">Any runner caught cheating will have all of his or her runs removed from the site, and will no longer be welcome to submit new runs. Don't cheat - there are no prizes here.<br /></p>
    <p class="text-lg-left ml-4">The following is allowed:</p>
    <ul class="ml-4 text-lg-left" list-style-type="disc" padding-left="1em">
      <li>Altering the HP or size of a monster to values possible in normal gameplay</li>
      <li>Custom quests replicating official Capcom quests, so long as the replica produces a game state possible through normal play in an offical Capcom quest</li>
      <li>Tools guaranteeing food skills, so long as the combination of food skills is possible in normal gameplay</li>
      <li>Any cosmetic changes, so long as monsters and damage numbers remain identifiable.</li>
    </ul>
    <p class="text-lg-left ml-4">The following counts as cheating:</p>
    <ul class="ml-4 text-lg-left" list-style-type="disc" padding-left="1em">
      <li>Altering the HP or size of a monster to values not possible in normal gameplay</li>
      <li>Altering player or Palico damage in any way</li>
      <li>Altering the effects of armor or food skills in any way</li>
      <li>Altering player or Palico equipment in any non-cosmetic way</li>
      <li>Altering Spare Shot or True Spare Shot proc rates, or altering Affinity</li>
      <li>Altering monster behavior in any way</li>
    </ul>
    <p class="text-lg-left ml-4">The following is strongly discouraged, but due to undetectability, is allowed:</p>
    <ul class="ml-4 text-lg-left" list-style-type="disc" padding-left="1em">
      <li>Use of overlay</li>
      <li>Altering Palico behavior, so long as the behavior is possible unmodded</li>
      <li>Use of the "Better Input Detection" mod by MoonBunnie and AsteriskAmpersand</li>
    </ul>
    <p class="text-lg-left ml-4">If a modification is not mentioned above, it will by default count as cheating. If you would like to clarify whether or not something is legal, feel free to DM me on Discord at String#8918.</p>
    <!-- Bottom of Page -->
<br />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
style="display:inline-block;width:100%;height:150px;"
data-ad-client="ca-pub-1264662495280700"
data-ad-slot="5047092791"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script> <br />
<!-- End of Bottom of Page -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>