<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>MHW Iceborne Leaderboards</title>
    <style >
      a {color: #000000;}
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165705164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-165705164-1');
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Iceborne Leaderboards</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/monsters">Monsters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quests">Quests</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/runners">Runners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rankings">Rankings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tierlist">Tier List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </div>
      </nav>
      <br />
      {% if runnerlist %}
    <div class="runner_list container-fluid">
      <div class="row">
        <div class = "runners">
          <h5 class="ml-4 text-lg-left">Runners:</h5>
          <ul class="ml-2 text-lg-left" list-style-type="disc" padding-left="1em">
            {% for runner in runners %}
            <li><a href="/runners/{{runner.url_name}}">{{runner.name}} ({{runner.num_runs}})</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% else %}
    <div class="runner_page">
      <h2 class="ml-5">{{runner}}</h2>
      <br />
      <div class="mr-5 ml-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Runner</th>
              <th scope="col">Time</th>
              <th scope="col">Weapon</th>
              <th scope="col">Platform</th>
              <th scope="col">Quest</th>
              <th scope="col">Ruleset</th>
            </tr>
          </thead>
          <tbody>
            {% for run in runs %}
            <tr>
              <td><a href="/runners/{{run.runner_url}}">{{run.runner}}</a></td>
              <td><a href="{{run.link}}" target="_blank">{{run.time}}</a></td>
              <td><img src="/static/weapon-icon/{{run.weapon}}.png" alt="{{run.weapon}}" height=25></td>
              <td>{{run.platform}}</td>
              <td><a href="/quests/{{run.quest_url}}/all/freestyle/all">{{run.quest}}</a></td>
              <td>{{run.ruleset}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>